@media only screen and (min-width: 1024px) {
    .note {
        background-color: #DCE123;
        width: 300px;
        top: -70px;
        right: 40px;
        float: right;
        padding: 16px;
    }
    .only-mob-info,
    .mb-head,
    .only-mobile-info,
    .application-mb,
    .note-mb {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .col-md-10 {
        width: 100%;
        margin-left: -15px;
    }
    .navbar-toggle {
        display: block;
    }
    .dashboard {
        display: none;
    }
    .wrapper {
        width: 100%;
        overflow-x: hidden;
    }
    .note,
    .compare-button,
    .only-dt-info,
    .dropbtn-money,
    .dt-head,
    .application-dt {
        display: none;
    }
}

.note {
    top: 20px;
    right: 0px;
    color: black;
    background-color: #dcdf3c;
}

.note-mb {
    background-color: #dcdf3c;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    height: 100px;
    width: 200px;
    position: relative;
    top: -50px;
    left: -20px;
    z-index: 3;
}

.search {
    border: none;
    background-color: #161A1B;
    background-image: url('images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    color: #4B5153;
}

input.search:focus {
    outline: none;
}

input.search::-webkit-input-placeholder {
    color: #4B5153;
}

.content {
    max-width: 450px;
    margin-left: 4%;
}

.content ul {
    padding: 0;
    list-style-position: inside;
}

.center-content {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.row {
    margin-bottom: 10px;
}

.deposit {
    background-color: #7196DA;
    z-index: 0;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
}

.wrapper {
    font-family: sans-serif;
    font-size: 11pt;
}

.navbar-inverse {
    background-color: #161A1B;
    border-color: #161A1B;
    border-radius: 0px;
    max-height: 48px;
    padding-left: 2%;
}

.mb-head {
    width: 130px;
}

.dashboard {
    height: 100%;
    width: inherit;
    background-color: #212628;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 10pt;
}

.dashboard div {
    padding-left: 45px;
    padding-top: 0px;
    color: white;
}

.dashboard p {
    margin-bottom: 5px;
}

.dashboard a {
    text-decoration: none;
    color: white;
}

.dashboard>.with-icon {
    padding-left: 20px;
    color: #C2C52E;
}

.dashboard>.with-icon a {
    color: #C2C52E;
}

.dashboard>.helper {
    color: white;
    background-color: #161A1B;
    height: 50px;
    padding-top: 20px;
}

.dashboard img {
    margin-right: 5px;
}

.dashboard hr {
    border-color: #4B5153;
    opacity: 0.2;
}

.dashboard h6 {
    color: #929C9F;
    font-weight: bold;
    margin-top: 30px;
}

.dropbtn {
    background-color: #161A1B;
    border: none;
    cursor: pointer;
    padding: 6px;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dcdf3c;
    min-width: 95px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #dcdf3c;
    color: black;
    text-decoration: none;
}

.inline {
    list-style-type: none;
}

.promo1 {
    background-color: #6ad4a6;
}

.promo2 {
    background-color: #ebb641;
}

.promo1,
.promo2 {
    color: white;
    min-width: 700px;
}

.promo1 > img,
.promo2 > img {
    padding-right: 5%;
    position: absolute;
    right: 10px;
    max-height: 280px;
    height: 100%;
}

.promo1 > .content,
.promo2 > .content {
    max-width: 400px;
}

.btn {
    border-radius: 0px;
    border-color: #7196DA;
    border-width: 2px;
    background-color: white;
}

.dropbtn-money {
    padding: 5px 20px 5px 20px;
    margin: 0px 0px 0px 15px;
    font-size: 16px;
    border-color: #7196DA;
    cursor: pointer;
    background-color: white;
}

.dropdown-money {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-money-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.dropdown-money-content a {
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-money-content a:hover {
    background-color: white;
}

.dropdown-money:hover .dropdown-money-content {
    display: block;
}

.dropdown-money:hover .dropbtn-money {
    background-color: white;
    color: black;
    text-decoration: none;
}

tr,
td {
    padding-right: 75px;
    padding-top: 25px;
}

td {
    font-weight: bold;
}

th {
    font-weight: bold;
    font-size: 9pt;
}

.deposit h1 {
    font-weight: bold;
    font-size: 60pt;
    margin-bottom: 30px;
}

h3 {
    font-weight: bold;
    font-size: 22pt;
}

h4 {
    font-weight: bold;
    margin-top: 35px;
}

.deposit p {
    padding-bottom: 30px;
}

.compare-button button {
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}

.footer {
    background-color: #212628;
    color: white;
}

.footer p {
    margin-bottom: 10px;
    font-size: 9pt;
}

.footer h6 {
    color: #929C9F;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: bold;
}

.social {
    height: 30px;
    width: 30px;
    margin: 5px;
}



.nav5 ul > li:hover ul {
    max-height: 1000px;
    -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

.nav5 li ul {
    position: absolute;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

.nav {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 10pt;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

.nav ul:before,
.nav ul:after {
    content: "";
    display: table;
}

.nav ul:after {
    clear: both;
}

.nav ul > li {
    float: right;
    position: relative;
}

.nav a {
    display: block;
    padding: 5px 10px;
    line-height: 1.2em;
    color: black;
}

.nav a:hover {
    text-decoration: none;
    background: #dcdf3c;
}

.nav li ul {
    background: #dcdf3c;
}

.nav li ul li {
    width: 200px;
}

.nav li ul a {
    border: none;
}



.nav li ul a p,
.dropdown-content a p {
    position: relative;
    margin-bottom: 0px;
}

.nav li ul a,
.dropdown-content a {
    border: none;
    padding: 15px;
    position: relative;
}

.nav li ul a:before,
.dropdown-content a:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: #F4F750;
    opacity: 0.7;
    transition: all 500ms ease;
}

.nav li ul a:hover:before,
.dropdown-content a:hover:before {
    width: 100%;
}

.smaller-font,
.bigger-font {
    background-color: #161A1B;
    border: none;
    font-size: 18pt;
    margin: 0px;
    padding: 0px;
    transition: 0.5s;
    outline: none;
}

.smaller-font {
    font-size: 10pt;
}

.smaller-font:hover,
.bigger-font:hover {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-nav li {
    margin-top: 5px;
    margin-right: 30px;
    font-weight: bold;
    color: #929C9F;
}

.navbar-left,
.navbar-left a {
    margin-left: 40px;
    margin-top: 5px;
    font-size: 8pt;
    cursor: pointer;
}

.navbar-left>li:hover,
.navbar-left>.active,
.navbar-left>a {
    color: #C2C52E;
    transition: all 200ms ease;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #C2C52E;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 0px 8px 0px 35px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: block;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav hr {
    border-color: #4B5153;
    opacity: 0.2;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidenav span {
    float: right;
    border-color: #4B5153;
    opacity: 0.6;
}

.loyalty ul {
    list-style-image: url('images/check-mark.png');
}

.loyalty {
    margin-bottom: 40px;
    margin-top: 40px;
}

.application-dt,
.application-mb {
    background-color: #f4f2e9;
}

.application-mb > .content {
    left: 2%;
}

.application-dt button,
.application-dt input,
.application-dt select,
.application-mb button {
    padding: 8px 20px 8px 20px;
    background-color: #f4f2e9;
    border: 1px solid #979797;
    font-weight: bold;
    color: black;
}

::-webkit-input-placeholder {
    color: black;
}

.application-dt button {
    margin: 30px 10px 30px 10px;
}

.application-mb button {
    margin: 5px 20px 5px 20px;
}

.application-dt button,
.application-mb button {
    margin-right: 0px;
    margin-left: 0px;
    display: inline-block;
    background-color: white;
    border-color: #dcdf3c;
    border: 2px solid #dcdf3c;
}

.application-dt button.active {
    background-color: #dcdf3c;
}

.application-dt button.submit,
.application-dt input,
.application-dt select,
.application-mb button {
    width: 100%;
}

.application-mb h3 {
    padding-top: 20px;
}

.top-menu-item:hover {
    background-color: #dcdf3c;
}

.main-container {
    padding-right: 2%;
}

.inl {
    display: inline;
}

.inl > h3 {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0px;
}

.inl > .dropdown-money {
    display: inline-block;
}



.inliner {
    display: inline-block;
}

.list li {
    padding: 5px;
    text-indent: -1.55em;
    padding-left: 1.55em;
}
